.ArticlePreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 50;
  background-color: #F4F2FF;
}

.preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}